{% extends "base.html" %}

{% block app_content %}
    <style>
        .form-container {
            max-width: 600px; /* Set a max-width if necessary */
            width: 100%;
            padding: 10px; /* Added some padding around the form */
            box-sizing: border-box; /* This make the padding included in the width */
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 form-container">
                <h1>Reset Your Password</h1>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(size=32) }}<br>
                        {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password2.label }}<br>
                        {{ form.password2(size=32) }}<br>
                        {% for error in form.password2.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.submit() }}</p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
